<!-- Main Container Starts -->
<div class="container">
    <mat-card class="card">
        <mat-card-content>
            <div class="col-sm-12">
                <!-- user_insert Form Starts -->
                <form [formGroup]="user_insertForm" autocomplete="off">
                    <div class="form-feild-content">
                        <mat-form-field class="full-width" appearance="outline">
                            <div class="form-style">
                                <textarea matInput rows="5" cols="60" type="text" (input)="displayAssignMethod($event)"
                                    [(ngModel)]="notevalue" [ngClass]="{'active-class': checkWord == true}" #userName
                                    formControlName="user_name" [style]="showInputField == true? {
                                        background: '#f6f5d18f',
                                        border: '0px solid #dcdcdc'
                                      }: null">
                                </textarea>
                                <!-- Chip List -->
                                <div class="chip-list-wrapper">
                                    <mat-chip-list #chipList>
                                        <ng-container *ngFor="let select of selectData;let i as index">
                                            <mat-chip>
                                                {{ select }}
                                                <mat-icon class="mat-chip-remove"
                                                    (click)="removeVal(i)">cancel</mat-icon>
                                            </mat-chip>
                                        </ng-container>
                                    </mat-chip-list>
                                </div>
                                <!-- End -->
                                
                                <!-- Drop Down list -->

                                <!-- <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option (onSelectionChange)="eSelectUser(data)" #matOption
                                        *ngFor="let data of masterDataSelect" [value]="data">{{data}}</mat-option>
                                </mat-autocomplete> -->

                                <div #elasticResDiv class="elasticResDiv" *ngIf="showAutcompleteList === true">
                                    <ul class="list-group">
                                        <li class="list-group-item" *ngFor="let data of masterDataSelect"
                                            (click)="eSelectUser(data)">
                                            {{data}}</li>
                                    </ul>
                                </div>
                            </div>
                        </mat-form-field>
                        <!-- End Of Form-feild -->
                    </div>
                    <div class="button_class">
                        <button mat-stroked-button color="accent" (click)="add_coloum()">+ Add Note</button>
                        <button mat-raised-button color="accent" (click)="resetTextarea()">Reset</button>
                    </div>
                </form>
                <!-- End Of user_insert Form -->
            </div>
        </mat-card-content>
    </mat-card>
</div>
<!-- Container Ends -->




<!-- Application is mainly Based on Angular material and Javascript/Typescript  -->